@font-face {
 src:url(../Fonts/Lobster-Regular.ttf);
 font-family:Lobster;
}
@font-face {
 src:url(../Fonts/Inter-VariableFont_slnt,wght.ttf);
 font-family:Inter;
}
@font-face {
 src:url(../Fonts/Jost-VariableFont_wght.ttf);
 font-family:Jost;
}
body { margin:0;}
.header
{
  position: absolute;
  width: 1835px;
  height: 114px;
  left: 0px;
  top: 0px;
  background: #1CDBF5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 40px 0px;
}
.IMG LOGO
{
  position: absolute;
  width: 638px;
  height: 114px;
  left: 0px;
  top: 0px;
}
.logo
{
  position: absolute;
  width: 638px;
  height: 114px;
  left:0px;
  top: 0px;
  background: #08F0FF;
}

.log3
{
  position: absolute;
  width: 340px;
  height: 103px;
  left: 149px;
  top: 6px;
}
.butt1
{
  position: absolute;
  width: 330px;
  height: 69px;
  left: 655px;
  top: 22px;
  background: #FFCE1F;
  border-radius: 20px 0px;
}
.butt1:hover
{
    background: #B487FF;
}
.a1
{
    position: absolute;
    width: 120px;
    height: 44px;
    left: 100px;
    top: 12px;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 380;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #323232;
}
.a1:hover
{
    color:white;
}
.butt2
{
      position: absolute;
      width: 330px;
      height: 69px;
      left: 1070px;
      top: 22px;
      background: #FFCE1F;
      border-radius: 20px 0px;
}
.butt2:hover
{
    background: #B487FF;
}
.a4
{
      position: absolute;
      /* width: 212px; */
      /* height: 64px; */
      left: 40px;
      top: -5px;
      text-decoration: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 380;
      font-size: 36px;
      line-height: 44px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #323232;
}
.a4:hover
{
    color:white;
}
.a2
{
      position: absolute;
      width: 112px;
      height: 44px;
      left: 110px;
      top: 12px;
      text-decoration: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 380;
      font-size: 36px;
      line-height: 44px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #323232;
}
.a2:hover
{
    color:white;
}
.butt3
{
  position: absolute;
  width: 330px;
  height: 69px;
  left: 1483px;
  top: 22px;

  background: #FFCE1F;
  border-radius: 20px 0px;
}
.butt3:hover
{
    background: #B487FF;
}
.a3
{
  position: absolute;
  width: 291px;
  height: 44px;
  left: 22px;
  top: 12px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #323232;
  text-decoration: none;
}
.a3:hover
{
    color:white;
}
.text
{
    top: 178px;
}
.profile
{
    position: absolute;
    width: 1000px;
    height: 273px;
    left: 447px;
    top: 205px;
}
.imgPr
{
    position: absolute;
    width: 273px;
    height: 220px;
    left: -20px;
    top: 0px;
    background: rgba(255, 255, 255, 0.61);
}
.fio
{
    position: absolute;
    width: 800px;
    height: 61px;
    left: -250px;
    top: 0px;
    background: #FFCE1F;
    display: flex;
    justify-content:space-between;
    margin-left:500px;
}
.fio-text
{
    position: absolute;
    width: 187px;
    height: 44px;
    top: 8px;
    left: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.fio-text1
{
    position: absolute;
    width: 186px;
    height: 44px;
    top: 9px;
    left: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.fio-text2
{
    position: absolute;
    width: 196px;
    height: 44px;
    top: 9px;
    left: 486px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

}
.dop-inf
{
    position: absolute;
    width: 800px;
    height: 159px;
    left: 250px;
    top: 61px;
    background: #08F0FF;
}
.region
{
    position: absolute;
    width: 800px;
    height: 53px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.32);
}
.region-text
{
   position: absolute;
   width: 392px;
   height: 44px;
   left: 8px;
   top: 4px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 44px;
   /* identical to box height */

   display: flex;
   align-items: center;
   text-align: center;

   color: #000000;

}
.email
{
    position: absolute;
    width: 800px;
    height: 53px;
    left: 0px;
    top: 106px;
    background: rgba(255, 255, 255, 0.32);
}
.email-text
{

    position: absolute;
    width: 294px;
    height: 44px;
    left: 8px;
    top: 5px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
 }
 .flex
 {
  display:flex;
  justify-content:flex-end;
 }
 .adminJpg
 {
   width:270px;
   height: 220px;
 }
 .func
 {
    position: absolute;
    width: 1247.84px;
    height: 222px;
    left: 420px;
    top: 590px;
 }
 .f1
 {
    position: absolute;
    width: 374.42px;
    height: 222px;
    left: -15x;
    top: 0px;
    background: #D0FFA0;
 }
 .f1:hover
 {
    background: #6ABB1A;
 }
 .fun1
 {
    position: absolute;
    width: 273px;
    height: 77px;
    left: calc(50% - 273px/2 + 0.29px);
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #141414;
    text-decoration: none;

 }
 .f2
 {
    position: absolute;
    width: 374.42px;
    height: 222px;
    left: 400px;
    top: 0px;
    background: #D1B4FF;
 }
 .f2:hover
  {
    background: #9557FA;
  }
 .fun2
 {
    position: absolute;
    width: 211px;
    height: 77px;
    left: 75px;;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #141414;
    text-decoration:none;
 }
 .f3
 {
    /* position: absolute; */
    /* width: 374.42px; */
    /* height: 222px; */
    /* left: 800px; */
    /* top: 0px; */
    /* background: #FFF0A0; */
    position: absolute;
    width: 430.42px;
    height: 222px;
    left: 800px;
    top: 0px;
    background: #FF0CF5;
 }
 .f3:hover
 {
    background: #A3039C;
 }
 .fun3
 {
   position: absolute;
    width: 250px;
    height: 77px;
    left: 30px;
    top: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #141414;
    text-decoration: none;
 }
 .footer
   {
     position: absolute;
     width: 1835px;
     height: 114px;
     left: 0px;
     top: 3020px;
     background: #1CDBF5;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     border-radius: 0px 0px 40px 0px;
   }
   .log4
   {
     position: absolute;
     width: 750px;
     height: 114px;
     left: 0px;
     top: 0px;

     background: #08F0FF;
     border-radius: 40px 0px 0px 0px;
   }
   .log4P
   {
     position: absolute;
     width: 700px;
     height: 79px;
     left: 34px;
     top: -5px;

     font-family: 'Lobster';
     font-style: normal;
     font-weight: 400;
     font-size: 32px;
     line-height: 40px;

     color: #004E58;
   }
   .butt4
   {
     position: absolute;
     width: 350px;
     height: 69px;
     left: 860px;
     top: 23px;

     background: #FFCE1F;
     border-radius: 20px 0px;
   }
   .log5
   {
     position: absolute;
     width:200px;
     height: 114px;
     left: 1290px;
     top: 0px;

     background: #08F0FF;
   }
   .log6
   {
     position: absolute;
     width: 200px;
     height: 114px;
     left: 1510px;
     top: 0px;

     background: #1CDBF5;
   }
   .log7
   {
     position: absolute;
     width: 180px;
     height: 114px;
     left: 1655px;
     top: 0px;

     background: #08F0FF;
   }
   .img3
   {
     position: absolute;
     width: 77px;
     height: 77px;
     left: 61px;
     top: 18px;

     filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
   }
   .img4
   {
     position: absolute;
     width: 77px;
     height: 77px;
     left: 30px;
     top: 17px;

   }
   .img5
   {
     position: absolute;
     width: 77px;
     height: 77px;
     left: 61px;
     top: 18px;
   }
   .a6
   {
     position: absolute;
     width: 352px;
     height: 44px;
     left: 0px;
     top: 12px;
     font-family: 'Inter';
     font-style: normal;
     font-weight: 400;
     font-size: 36px;
     line-height: 44px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #323232;
 }
 .redactor
 {
    position: absolute;
    width: 1731px;
    height: 1308px;
    left: 89px;
    top: 923px;
 }
 .redactor-header
 {
    position: absolute;
    width: 1731px;
    height: 99px;
    left: 0px;
    top: 0px;
    background: #AF71FF;
 }
 .redactor-header-text
 {
    position: absolute;
    width: 211px;
    height: 77px;
    left: 760px;
    top:  -51px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
 }
 .redactor-menu
  {
      position: absolute;
      width: 523px;
      height: 1700px;
      left: 0px;
      top: 99px;
      background: #B487FF;
  }
  .redactor-inf
  {
       position: absolute;
       width: 1208px;
       height: 2000px;
       left: 523px;
       top: 99px;
       background: #D1B4FF;
  }
   .redactor-flex
   {
      display:flex;
      justify-content:flex-end;
   }
   .f4
    {
        position: absolute;
        width: 398px;
        height: 148px;
        left: 64px;
        top: 66px;
        background: #D1B4FF;
    }
    .f4:hover
    {
       background: #9C60FD;
    }
    .f4-text
    {

      position: absolute;
      width: 273px;
      height: 83px;
      left: 90px;
      top: 32px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 64px;
      line-height: 77px;
      display: flex;
      align-items: center;
      text-align: center;
       color: #000000;
       text-decoration:none;
    }
    .f4-text:hover
    {
       color: #FFFFFF;
    }
    .f5
    {
       position: absolute;
       width: 398px;
       height: 148px;
       left: 64px;
       top: 262px;
       background: #D1B4FF;
    }
    .f5-text
    {
       position: absolute;
       width: 302px;
       height: 77px;
       left: 10px;
       top: 35px;
       font-family: 'Inter';
       font-style: normal;
       font-weight: 400;
       font-size: 64px;
       line-height: 77px;
       display: flex;
       align-items: center;
       text-align: center;
       color: #000000;
       text-decoration:none;
    }
    .f5:hover
     {
       background: #9C60FD;
     }
     .f5-text:hover
     {
        color: #FFFFFF;
     }
  .add
  {
    position: absolute;
    width: 1731px;
    height: 1800px;
    left: 53px;
    top: 1113px;
    background: #D1B4FF;
  }
  .date-inf
  {
      position: absolute;
      width: 800px;
      height: 53px;
      left: px;
      top: 53px;
      background: rgba(255, 255, 255, 0.61);
  }
  .date-inf-text
  {
      position: absolute;
      width: 378px;
      height: 44px;
      left: 9px;
      top: 4px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      /* identical to box height */
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
  }
.frame
{
   position: absolute;
       width: 430px;
       height: 100px;
       left: 691px;
       top: 200px;
       background: #7232C6;
}
  .surname
  {
       position: absolute;
       width: 549px
       height: 100px;
       left: 412px;
       top: 128px;
  }
 .surname-text
 {
   position: absolute;
   width: 328px;
   height: 44px;
   right: 54px;
   top: 27px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 44px;
   /* identical to box height */

   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;


 }
  .input-data
  {
      position: absolute;
          width: 600px;
          height: 100px;
          left: 600px;
          top: 71px;
          background: #FFFFFF;
           font-size:35px;

  }

 .name-text
 {
    position: absolute;
    width: 328px;
    height: 44px;
    left: 48px;
    top: 27px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
 }
  .input-name2
  {
        position: absolute;
        width: 600px;
        height: 100px;
        left: 1010px;
        top: 400px;
        background: #FFFFFF;
        font-size:35px;
  }
  .name
  {
       position: absolute;
       width: 430px;
       height: 100px;
       left: 691px;
       top: 400px;
       background: #7232C6;
  }
  .patronymic-text
  {
    position: absolute;
    width: 168px;
    height: 44px;
    left: 65px;
    top: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
  }
.input-patronymic
{
      position: absolute;
      width: 600px;
      height: 100px;
      left: 1010px;
      top: 600px;
      font-size: 36px;
      background: #FFFFFF;
       font-size:35px;
}
  .patronymic
  {
          position: absolute;
          width: 430px;
          height: 100px;
          left: 691px;
          top: 600px;
          background: #7232C6;
  }
    .date-text
    {
      position: absolute;
      width: 168px;
      height: 44px;
      left: 65px;
      top: 27px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 44px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #FFFFFF;
    }
  .input-dat
  {
        position: absolute;
        width: 600px;
        height: 100px;
        left: 1010px;
        top: 800px;
        font-size: 36px;
        background: #FFFFFF;
         font-size:35px;
  }
    .date
    {
            position: absolute;
            width: 430px;
            height: 100px;
            left: 691px;
            top: 800px;
            background: #7232C6;
    }
        .gender-text
        {
          position: absolute;
          width: 276px;
          height: 44px;
          left: 62px;
          top: 27px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 44px;
          /* identical to box height */

          display: flex;
          align-items: center;
          text-align: center;

          color: #FFFFFF;

        }
      .input-gender
      {
            position: absolute;
            width: 600px;
            height: 100px;
            left: 1010px;
            top: 800px;
            font-size: 36px;
            background: #FFFFFF;
            font-size:35px;
      }
        .gender
        {
                position: absolute;
                width: 430px;
                height: 100px;
                left: 691px;
                top: 800px;
                background: #7232C6;
        }
        .tel-text
                {
                  position: absolute;
                  width: 302px;
                  height: 44px;
                  /* left: 109px; */
                  top: 27px;
                  font-family: 'Inter';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 36px;
                  line-height: 44px;
                  /* identical to box height */
                  display: flex;
                  align-items: flex-end;
                  text-align: center;
                  color: #FFFFFF;
                  align-content: stretch;
                  justify-content: center;
                }
              .input-tel
              {
                    position: absolute;
                    width: 600px;
                    height: 100px;
                    left: 1010px;
                    top: 1000px;
                    font-size: 36px;
                    background: #FFFFFF;
                    font-size:35px;
              }
                .tel
                {
                        position: absolute;
                        width: 430px;
                        height: 100px;
                        left: 691px;
                        top: 1000px;
                        background: #7232C6;
                }
.poster
{
    position: absolute;
    width: 297px;
    height: 100px;
    left: 700px;
    top: 1400px;
    background: #7232C6;
}
.poster-text
{
   position: absolute;
   width: 302px;
   height: 88px;
   top: 5px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 44px;
   display: flex;
   align-items: center;
   text-align: center;

   color: #FFFFFF;

}
.input-poster
{
    position: absolute;
     width: 281.2px;
     height: 56px;
     left: 1156px;
     top: 1430px;
     font-size:35px;
}
.send
{
    position: absolute;
    width: 390px;
    height: 86px;
    left: 1000px;
    top: 1650px;
    background: rgba(255, 255, 255, 0.75);
}
.send-text
{
   position: absolute;
   width: 250px;
   height: 48px;
   left: 69px;
   top: 19px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 48px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #000000;
}

.signOut
 {
        position: absolute;
        width: 374.42px;
        height: 69px;
        left: 808px;
        top: 461px;
        background: #FFCE1F;
        border-radius: 20px 0px;
 }
 .signOut:hover
 {
    background: #B487FF;
 }
  .signOut-text
  {
    position: absolute;
    width: 113px;
    height: 44px;
    left: 140px;
    top: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #323232;
    text-decoration:none;
  }
  .signOut-text:hover
  {
     color: #FFFFFF;
  }
   .input-tel2
                {
                      position: absolute;
                      width: 350px;
                      height: 100px;
                      left: 1200px;
                      top: 1200px;
                      font-size: 36px;
                      background: #af71ff;
                      font-size:35px;
                      border-radius: 0px;
                }
.tel2
  {
  position: absolute;
  width: 350px;
  height: 100px;
  left: 691px;
  top: 1200px;
  background: #7232C6;
 }
  .input-tel3
               {
                     position: absolute;
                     width: 600px;
                     height: 100px;
                     left: 1010px;
                     top: 1400px;
                     font-size: 36px;
                     background: #FFFFFF;
                     font-size:35px;
               }
 .tel3
 {
 position: absolute;
 width: 430px;
 height: 100px;
 left: 691px;
 top: 1400px;
 background: #7232C6;
 }