<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>

    <div th:each="work: ${works}">
        <div th:switch="${work.disabled}">
            <label th:for="|work.id-${work.id_hour}|" th:text="${work.value}"/>
            <input th:case="true" type="radio" style="display: none;" th:id="|work.id-${work.id_hour}|" name="work-id" disabled th:value="${work.id_hour}" />
            <input th:case="false" type="radio" th:id="|work.id-${work.id_hour}|" name="work-id"  th:value="${work.id_hour}" />
        </div>
    </div>
    <div th:switch="${workIn}">
        <h1 th:case="'false'">Извините, но доступных часов на эту дату нет, выберите другой день</h1>
        <button  th:case="'true'" id="timeId" class="input-tel2" type="button" name="timeID"><p class="a4">Подтвердить время</p></button>
    </div>
    <!--
    <button id="timeId" class="input-tel2" type="button" name="timeID"><p class="a4">Подтвердить время</p></button>-->
    <script>
        const button = document.getElementById("timeId");
            button.addEventListener("click",(event)=>{
            const radio = document.querySelector('input[name = "work-id"]:checked').value;
            window.location = '/appointment'+window.location.search+"&id_time="+radio;
        });
    </script>
</body>
</html>