<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить Мастера</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style5.css">
</head>
<body>
<div class="container">
    <div class="header">
        <div class="IMG LOGO">
            <div class="logo">
                <img class="log3"  src="images/logo.png" alt="Логотип">
                <a class="log3"   href="/"></a>
            </div>
        </div>
        <button class="butt1" type="button" name="Мастера"><a class="a1" href="/masters">Мастера</a></button>
        <button class="butt2" type="button" name="Услуги"><a class="a2" href="/services">Услуги</a></button>
        <div th:switch="${loginIn}">
            <button id="1" th:case="'true'"class="butt3" type="button" name="Вход"><a  class="a3" href="/directionPage">Личный кабинет</a></button>
            <button id="2" th:case="'false'"class="butt3" type="button" name="Вход"><a class="a3" href="/greeting">Вход</a></button>
        </div>
    </div>

    <div class="profile">
        <div>
            <div class="flex">
                <div class="imgPr"><img  class="adminJpg" src="images/admin.jpg"> </div>
                <div>
                    <div class="fio">
                        <div class="fio-text" th:text="${admin.surname}"/>
                        <div class="fio-text1" th:text="${admin.name}"/>
                        <div class="fio-text2" th:text="${admin.patronymic}"/>
                    </div>
                    <div class="dop-inf">
                        <div class="region">
                            <div class="region-text" th:text="${admin.region}"/>
                        </div>
                        <div class="date-inf">
                            <div class="date-inf-text" th:text="${admin.date}"/>
                        </div>
                        <div class="email">
                            <div class="email-text" th:text="${admin.email}"/>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>

    <div class="func">
        <div>
            <div> <button class="f1" type="button" name="Мастер"><a class="fun1" href="/admin">Мастера</a></button></div>
            <div><button class="f2" type="button" name="Услуги"><a class="fun2" href="/service">Услуги</a></button></div>
        </div>
    </div>
    <div> <button  class="signOut" type="button" name="Выход"><a class="signOut-text" href="/signOut">Выйти</a></button></div>
    <div class="add">
        <div class="redactor-header">
            <p class="redactor-header-text"> Мастера</p>
        </div>
        <div clas="redactor-flex">
            <div class="redactor-menu">
                <div> <button class="f4" type="button" name="Мас"><a class="f4-text" href="/admin">Мастера</a></button></div>
                <div> <button class="f5" type="button" name="Добавить"><a class="f5-text" href="/add">Добавить</a></button></div>
            </div>
        </div>

        <div class="input">
            <form id="masterForm" action="#" th:action="@{/admin}"  th:object="${master}" enctype="multipart/form-data"method="post">
                <div>
                    <div class="frame">
                        <label for="surnameId" class="surname-text">Фамилия</label>
                    </div>
                    <div class="surname">
                        <input id="surnameId" class="input-data" type="text" name="surname" th:field="*{surname}" pattern="^[а-яА-ЯёЁ]+$" required>
                    </div>
                    <div class="name">
                        <label for="nameId" class="name-text">Имя</label>
                    </div>
                    <div>
                        <input id="nameId" class="input-name" type="text" name="name" th:field="*{name}" pattern="^[а-яА-ЯёЁ]+$" required>
                    </div>
                    <div class="patronymic">
                        <label for="patronymicId" class="patronymic-text">Отчество</label>
                    </div>
                    <div>
                        <input id="patronymicId" class="input-patronymic" type="text" name="patronymic" th:field="*{patronymic}" pattern="^[а-яА-ЯёЁ]+$" required>
                    </div>
                    <div class="date">
                        <label for="dateId" class="date-text">Дата рождения</label>
                    </div>
                    <div>
                       <input id="dateId" class="input-dat" type="date" name="date" th:field="*{date}" required>
                    </div>
                    <div class="gender">
                        <label for="genderId" class="gender-text">Пол</label>
                    </div>
                    <div>
                        <!--<input id="genderId" class="input-gender" type="text" name="gender" th:field="*{gender}" pattern="^[а-яА-ЯёЁ]+$" required>-->
                        <select name="gender" th:field="*{gender}" pattern="^[а-яА-ЯёЁ]+$"  class="input-gender" id="genderId" required>
                                <option th:value="'Женский'" th:text="Женский"></option>
                                <option th:value="'Мужской'" th:text="Мужской"></option>
                        </select>
                    </div>
                    <div class="tel">
                        <label for="telId" class="tel-text">Телефон</label>
                    </div>
                    <div>
                        <input id="telId" class="input-tel" type="text" name="gender" th:field="*{telephone}" pattern="^\+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}$" required>
                    </div>
                    <div class="grade">
                        <label for="gradeId" class="grade-text">Грейд</label>
                    </div>
                    <div>
                        <select name="grade" th:field="*{grade}" class="input-grade" id="gradeId" required>
                            <option th:value="'Топ-мастер'" th:text="Топ-мастер"></option>
                            <option th:value="'Мидл-мастер'" th:text="Мидл-мастер"></option>
                            <option th:value="'Синьор-мастер'" th:text="Синьор-мастер"></option>
                        </select>
                    </div>
                    <div class="exp">
                        <label for="expId" class="exp-text">Стаж</label>
                    </div>
                    <div>
                        <input id="expId" class="input-exp" type="text" name="exp" th:field="*{experience}"required>
                    </div>
                    <div class="post">
                        <label for="postId" class="post-text">Должность</label>
                    </div>
                    <div>
                        <input id="postId" class="input-post" type="text" name="post" th:field="*{post}"required>
                    </div>
                    <div class="edu">
                        <label for="eduId" class="edu-text">Образование</label>
                    </div>
                    <div>
                        <input id="eduId" class="input-edu" type="text" name="edu" th:field="*{education}"required>
                    </div>
                    <div class="ema">
                        <label for="emaId" class="ema-text">Почта</label>
                    </div>
                    <div>
                        <input id="emaId" class="input-ema" type="text" name="ema" th:field="*{email}" pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"required>
                    </div>
                    <div class="desc">
                        <label for="descId" class="desc-text">Описание</label>
                    </div>
                    <div>
                        <input id="descId" class="input-desc" type="text" name="desc" th:field="*{desc}" required>
                    </div>
                    <div class="poster">
                        <label for="posterId" class="poster-text">Прикрепить обложку</label>
                    </div>
                    <div>
                        <input class="input-poster" id="posterId" type="file" title="" accept="image/jpeg"  name="poster">
                    </div>
                    <div class="send">
                        <input class="send-text" type="submit" name="send" value="Добавить">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="footer">
        <div class="log4">
            <p class="log4P">© 2009-2023 Салон красоты и здоровья «Le Stelle» Все права защищены </p>
        </div>
        <div><button class="butt4" type="button" name="Телефон"><a class="a6">+7 (8452) 29-67-28</a></button></div>
        <div class= "log5">
            <img class="img3" src="images/image 3.png" alt="Картинка whatsApp">
        </div>
        <div class= "log6">
            <img class="img4" src="images/image 1.png" alt="Картинка Telegram">
        </div>
        <div class= "log7">
            <img class="img5" src="images/image 2.png" alt="Картинка whatsApp">
        </div>
    </div>
</div>
</div>
</body>
</html>