<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style2.css">
</head>
<body>
<div>
  <div class="header">
    <div class="IMG LOGO">
      <div class="logo">
        <img class="log3"   src="images/logo.png" alt="Логотип">
        <a class="log3"     href="/index"></a>
      </div>
    </div>
    <button class="butt1" type="button" name="Мастера"><a class="a1" href="#">Мастера</a></button>
    <button class="butt2" type="button" name="Услуги"><a class="a2" href="#">Услуги</a></button>
    <button class="butt3" type="button" name="Вход"><a class="a3" href="/greeting">Вход</a></button>
  </div>
  <div class="form">
    <div class="flex">
      <div class="login">
        <p> <a class="p1" href="/">Вход</a></p>
      </div>
      <div class="registration">
        <p> <a class="p2" href="/greeting2">Регистрация</a></p>
      </div>
    </div>
    <form id="form1" action="#" th:action="@{/greeting3}"  th:object="${user}" enctype="multipart/form-data"method="post">
        <div class="flex-input">
          <div class="surname">
            <div class="frame">
              <label for="surnameId" class="surname-text">Фамилия</label>
            </div>
            <div>
              <input id="surnameId" class="input" type="text" name="surname" th:field="*{surname}" pattern="^[а-яА-ЯёЁ]+$" required>
            </div>
          </div>

        <div class="date">
          <div class="frame">
            <label for="dateId" class="date-text">Дата Рождения</label>
          </div>
          <div>
            <input id="dateId" class="input" type="text" name="data"  th:field="*{date}" required>
          </div>
        </div>

      </div>
      <div class="flex-input">

        <div class="name">
          <div class="frame">
            <label for="nameId" class="name-text">Имя</label>
          </div>
          <div>
            <input id="nameId" class="input" type="text" name="name" pattern="^[а-яА-ЯёЁ]+$" th:field="*{name}" required>
          </div>
        </div>
        <div class="telephone">
          <div class="frame">
            <label for="telId" class="telephone-text">Телефон</label>
          </div>
          <div>
            <input id="telId" class="input" type="text" name="name"  pattern="^\+7-[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}$" th:field="*{telephone}" placeholder="+7-...-...-..-.." required>
          </div>
        </div>
      </div>
        <div class="flex-input">

          <div class="patronymic">
            <div class="frame">
              <label for="patronymicId" class="patronymic-text">Отчество</label>
            </div>
            <div>
              <input id="patronymicId" class="input" type="text" name="patronymic" pattern="^[а-яА-ЯёЁ]+$" th:field="*{patronymic}">
            </div>
          </div>

          <div class="e-mail">
            <div class="frame">
              <label for="mailId" class="e-mail-text">E-mail</label>
            </div>
            <div>
              <input id="mailId" class="input" type="email" name="email"  pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}" th:field="*{email}"required>
            </div>
          </div>

      </div>

      <div class="flex-input">
        <div class="gender">
          <div class="frame">
            <label for="genderId" class="gender-text">Пол</label>
          </div>
          <div>
            <input id="genderId" class="input" type="text" th:field="*{gender}"required>
          </div>
        </div>
        <div class="send">
        <input class="send-text" type="submit" name="send" value="Зарегестрироваться">
      </div>
      </div>

    </form>
  </div>
</div>
  <div class="footer">
      <div class="log4">
        <p class="log4P">© 2009-2023 Салон красоты и здоровья «Le Stelle» Все права защищены </p>
      </div>
      <div><button class="butt4" type="button" name="Телефон"><a class="a6">+7 (8452) 29-67-28</a></button></div>
      <div class= "log5">
        <img class="img3" src="images/image 3.png" alt="Картинка whatsApp">
      </div>
      <div class= "log6">
        <img class="img4" src="images/image 1.png" alt="Картинка Telegram">
      </div>
      <div class= "log7">
        <img class="img5" src="images/image 2.png" alt="Картинка whatsApp">
      </div>
  </div>
</div>
</body>
</html>
